.venv*
# .vscode*
*.DS_Store*

_news*
*__pycache_*


.env.secret
maple-structures/pyproject.toml
maple-structures/build*
maple-structures/dist*
*.egg-info*
data*
tests*


politics*
backend/
results*.json
log_*
